.Ge {
  background-color: #85b0ff;
}
.En {
  background-color: #ffc4f5;
}
.Hi {
  background-color: #FFF5BA;
}
.Ar {
  background-color: #e4d4ff;
}
.Sc {
  background-color: #BFFCC6;
}
.Sp {
  background-color: #FFBEBC;
}
